<% name = args[:name].gsub(/\s/,'_') %>
<div class='chart <%= args[:type] %>' id='<%= name %>_chart' data-charttype='<%= args[:type] %>' data-chartname='<%= name %>'>
  <table id='<%= name %>_data'>
    <caption id='<%= name %>_title'><%= args[:title] %></caption>
    <thead>
      <tr id='<%= name %>_head'>
        <th scope='col'>series</th>
<% args[:axis].each do |axis| %>
        <th scope='col' class='axis_label'><%= axis %></th>
<% end %>
      </tr>
    </thead>
    <tbody id='<%= name %>_body'>
<% args[:series].each do |series| %>
      <tr id='<%= name %>_series_<%= series[0].gsub(/ /,'_') %>'><th scope='row'><%= series[0] %></th>
  <% series[1].each do |value| %>
        <td><%= value %></td>
  <% end %>
  </tr>
<% end %>
</tbody></table><span id='<%= name %>_json' class='json'>{<%= args[:properties] %>}</span></div>