<div class='ticket' id='ticket_<%= ticket_id %>'>
  <h3 class='ticket_name'><a href="https://www.pivotaltracker.com/story/show/<%= ticket_id %>"><%= name %></a></h3>
  <div class='ticket_details'><span class='ticket_state'><%= state.name.titleize %></span>
  <span class='ticket_id'><%= ticket_id %></span>
  <span class='ticket_created'>Created: <%= ori_created.strftime("%d %B %Y %H:%M") %></span>
  <span class='ticket_started'>Started: <%= started(true).strftime("%d %B %Y %H:%M") %></span>
<% if state.name != 'started' %>
  <span class='ticket_last_action'><%= state.name.titleize %>: <%= state.date.strftime("%d %B %Y %H:%M") %></span>
<% end %> 
    <div class='ticket_reject_count <%= rejection_count > 0 ? 'been_rejected' : 'not_rejected' %>'><span class='ticket_reject_count_label'>Rejected</span>
    <span class='ticket_reject_count_counter'><%= rejection_count %></span>
    <span class='ticket_reject_count_label'>times</span>
  </div></div>
</div>
