<!DOCTYPE html>

<html lang='en'>
  <head>
    <title>Project Tracker: <%= $SETTINGS["project_name"] %></title>
    <link rel="stylesheet" type="text/css" href="css/screen.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery.jqplot.min.css"/>
    <meta http-equiv="refresh" content="60" >
  </head>
  <body id="radiator" class="<%= ENV['RACK_ENV'] || 'development' %>">
    <h1><%= $SETTINGS["project_name"] %></h1>
    <%= if ENV['RACK_ENV'] != 'production'
      "<h2> #{ENV['RACK_ENV'] || 'development'} environment</h2>"
      end %>
      <div id='iteration_navigation'><div id="iteration"><h2>Iteration</h2><span id='itno'><%= iteration %></span><span id='itdate'><br/><%= iteration_end.strftime("%-d %b") %></span></div>
      <ul id='navigation'><li><a href='populate'>Manage database</a></li>
        <!--<li>Detailed stats</li>--></div>
    <div id="tandc_container"><%= chart_render(charts,'a') %>
    <table id="ticket_table">
      <tr>
        <th></th>
        <th>Created / Rejected</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Delivered</th>
        <th>Accepted</th>
        <th>Total</th>
      </tr>
      <tr>
        <th id="project_head" class="project rowhead" rowspan=2>Project</th>
        <td id="project_created" class="project created half"><%= project_created %></td>
        <td id="project_started" class="project started" rowspan=2><%= project_started %></td>
        <td id="project_finished" class="project finished" rowspan=2><%= project_finished %></td>
        <td id="project_delivered" class="project delivered" rowspan=2><%= project_delivered %></td>
        <td id="project_accepted" class="project accepted" rowspan=2><%= project_accepted %></td>
        <td id="project_total" class="project total" rowspan=2><%= project_total %></td>
      </tr>
      <tr>
        <td id="project_rejected" class="project rejected half"><%= project_rejected %></td>
      </tr>
      <tr>
        <th id="iteration_head" class="iteration rowhead" rowspan=2>Current Iteration</th>
        <td id="iteration_created" class="iteration created half"><%= iteration_created %></td>
        <td id="iteration_started" class="iteration started" rowspan=2><%= iteration_started %></td>
        <td id="iteration_finished" class="iteration finished" rowspan=2><%= iteration_finished %></td>
        <td id="iteration_delivered" class="iteration delivered" rowspan=2><%= iteration_delivered %></td>
        <td id="iteration_accepted" class="iteration accepted" rowspan=2><%= iteration_accepted %></td>
        <td id="iteration_total" class="iteration total" rowspan=2><%= iteration_total %></td>
      </tr>
      <tr>
        <td id="iteration_rejected" class="iteration rejected half"><%= iteration_rejected %></td>
      </tr>
    </table>
    <%= chart_render(charts,'b') %></div>
    <div id="chart_container_c" class="chart_container"><%= chart_render(charts,'c') %></div>
    
    <div id="message_centre">
    <%= message_render(messages) if defined? messages %>
    </div>
    <!--[if lt IE 9]><script src='./javascript/excanvas.min.js' type="text/javascript" charset="utf-8"></script><![endif]-->
    <script src='./javascript/jqplot/jquery.min.js' type="text/javascript" charset="utf-8"></script>
    <script src='./javascript/jqplot/jquery.jqplot.min.js' type="text/javascript" charset="utf-8"></script>
    <script src='./javascript/jqplot/plugins/jqplot.pieRenderer.min.js' type="text/javascript" charset="utf-8"></script>
    <script src='./javascript/application.js' type="text/javascript" charset="utf-8"></script>
  </body>
</html>